/* style.css */

.card {
    margin: 50px auto;
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'Arial', sans-serif;
    padding: 30px;
}

.inputField {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
}

.info {
    text-align: center;
}

.location {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.temp {
    margin: 5px 0;
    font-size: 36px;
    color: #333;
}

.tempmin_max {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

.fa-regular.fa-sun {
    font-size: 60px;
    color: #fdd835;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.weatherData{
    font-size: 15px;
    color: #666;
}